:root {
  --primary: #000000;
  --bg: #ffffff;
  --secondary: #42af57;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e5e6e8;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('img/1.png'); /* Ganti 'path/to/your/image.jpg' dengan path gambar Anda */
  background-size: cover; /* Agar gambar mengisi seluruh background */
}

.container {
  background-color: rgba(255, 255, 255, 0.8); /* Tambahkan transparansi pada latar belakang */
  border-radius: 10px;
  padding: 50px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: var(--secondary);
}

.input-group {
  margin-bottom: 25px;
  position: relative;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 16px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: var(--secondary);
}

label {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
  transition: all 0.3s ease;
}

input[type="text"]:focus + label,
input[type="password"]:focus + label,
input[type="text"]:valid + label,
input[type="password"]:valid + label {
  top: 0;
  transform: translateY(0%);
  font-size: 14px;
  color: var(--secondary);
}

.container button {
  background-color: var(--secondary);
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 14px 20px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  transition: background-color 0.3s ease;
}

.container button:hover {
  background-color: var(--secondary);
}

.container .button-container {
  display: flex;
  width: 10px;
  justify-content: center;
  margin-top: 50px;
}

.container .button-container button {
  margin: 0 10px;
  color: #ccc;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}

.footer a {
  color: var(--secondary);
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
